In [20]:
import pandas as pd
import glob
import os

In [21]:
def get_all_csv(folder):
    csv_files = os.path.join(folder, "*.csv")
    csv_files = glob.glob(csv_files)
    return csv_files

# "Batting Stats"

In [22]:
def combine_csv(folder):
    ipl_df = pd.DataFrame()
    csv_files = get_all_csv(folder)
    for csv in csv_files:
        df = pd.read_csv(csv)
        df['Year'] = csv.split("_")[-1].split(".")[0]
        ipl_df = pd.concat([ipl_df, df])
    return ipl_df

In [23]:
def get_batsman_stats():
    ipl_2023_squds = pd.read_csv('IPL 2023 squads.csv')
    ipl_df = combine_csv("Batting Stats")
    ipl_df = pd.merge(ipl_2023_squds, ipl_df, left_on='player_name', right_on='Player')
    ipl_df.drop(columns=['POS', 'Player'], inplace=True)
    ipl_df.to_excel('Batsman stats.xlsx', index=False)
    return

In [26]:
def get_bowler_stats():
    ipl_2023_squds = pd.read_csv('IPL 2023 squads.csv')
    ipl_df = combine_csv("Bowling Stats")
    ipl_df = pd.merge(ipl_2023_squds, ipl_df, left_on='player_name', right_on='Player')
    ipl_df.drop(columns=['POS', 'Player'], inplace=True)
    ipl_df.to_excel('Bowler stats.xlsx', index=False)
    return ipl_df

In [27]:
get_bowler_stats()

,player_name,player_type,player_auction_price,retained_status,ipl_team,player_country,Mat,Inns,Ov,Runs,Wkts,BBI,Avg,Econ,SR,4w,5w,Year
0,Kyle Jamieson,Allrounder,1.00Crore,No,CSK,New Zealand,9,9,28.0,269,9,3/41,29.88,9.60,18.66,0,0,2021
1,Ben Stokes,Allrounder,16.25Crore,No,CSK,England,12,12,44.0,316,12,3/15,26.33,7.18,22.00,0,0,2017
2,Ben Stokes,Allrounder,16.25Crore,No,CSK,England,13,12,37.0,303,8,3/15,37.87,8.18,27.75,0,0,2018
3,Ben Stokes,Allrounder,16.25Crore,No,CSK,England,9,6,17.0,189,6,3/15,31.50,11.22,16.83,0,0,2019
4,Ben Stokes,Allrounder,16.25Crore,No,CSK,England,8,6,15.0,154,2,3/15,77.00,10.26,45.00,0,0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,Marco Jansen,Allrounder,4.20Crore,Yes,SRH,South Africa,8,8,32.0,274,7,25/3,39.14,8.56,27.42,0,0,2022
374,Aiden Markram,Batter,2.60Crore,Yes,SRH,South Africa,14,4,6.0,64,1,8/1,64.00,10.66,36.00,0,0,2022
375,Umran Malik,Bowler,4.00Crore,Yes,SRH,India,3,3,12.0,96,2,1/21,48.00,8.00,36.00,0,0,2021
376,Umran Malik,Bowler,4.00Crore,Yes,SRH,India,14,14,49.1,444,22,25/5,20.18,9.03,13.40,1,1,2022
377,Abdul Samad,Allrounder,4.00Crore,Yes,SRH,India,12,3,7.0,96,1,1/41,96.00,13.71,42.00,0,0,2020